<?xml version="1.0"?>
<config>
    <modules>
        <Gufo_RedirectAfterCustomerCreation>
            <version>1.0.0</version>
        </Gufo_RedirectAfterCustomerCreation>
    </modules>
    <global>
        <models>
            <gufo_redirectaftercustomercreation>
                <class>Gufo_RedirectAfterCustomerCreation_Model</class>
            </gufo_redirectaftercustomercreation>
        </models>
        <helpers>
            <customer>
                <rewrite>
                    <data>Gufo_RedirectAfterCustomerCreation_Helper_Data</data>
                </rewrite>
            </customer>
            <checkout>
                <rewrite>
                    <url>Gufo_RedirectAfterCustomerCreation_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>
        <cms>
            <page>
                <tempate_filter>gufo_redirectaftercustomercreation/template_filter</tempate_filter>
            </page>
            <block>
                <tempate_filter>gufo_redirectaftercustomercreation/template_filter</tempate_filter>
            </block>
        </cms>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch_customer_account_createpost>
                <observers>
                    <gufo_redirectaftercustomercreation>
                        <type>singleton</type>
                        <class>gufo_redirectaftercustomercreation/observer_frontend</class>
                        <method>controllerActionPostdispatchCreatePostAction</method>
                    </gufo_redirectaftercustomercreation>
                </observers>
            </controller_action_postdispatch_customer_account_createpost>
            <customer_register_success>
                <observers>
                    <gufo_redirectaftercustomercreation>
                        <type>singleton</type>
                        <class>gufo_redirectaftercustomercreation/observer_frontend</class>
                        <method>customerRegisterSuccess</method>
                    </gufo_redirectaftercustomercreation>
                </observers>
            </customer_register_success>
        </events>
    </frontend>
</config>